tags
weechat/logs
config/hub
tldrc/*
.mypy_cache/
credentials.zsh
config/nvim/black
config/yarn/global
config/gcloud
config/shadowenv
config/dev/logs
config/coc/extensions
config/browser-launcher2
config/.mono/keypairs
config/spotify-tui/*
config/plugins
config/gh
config/Code
config/nvim/plugin/packer_compiled.lua
config/code-server
script/exa
*.un~
*.pem
