<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Dash" value="https://proget.smchcn.net/nuget/dash" />
    <add key="Phoenix" value="https://proget.smchcn.net/nuget/Phoenix" />
  </packageSources>
  <packageSourceCredentials>
    <Dash>
      <add key="Username" value="sprater" />
      <add key="Password" value="NgoSIvEC/khfryoL/4YJRlqaPzhRk+UpBhtk6mZwUIDsPQH+B0kGL4evqQk5VYq4kJ/A9d2UgQT3NC0gqXIMyajr2LfGBK7+r3ALDvFNGd/rdjdDJoJ4E6QgLzAC+mMtBY00KwKH9QPtKNT7sFdPlqtuD/mrLlNp4AGq3m3C1Gv7GK0uvTRYVLC8WX3j1Tu4CgZc4/RxG7xlcRLQtwkUbo1hMb7UbVJudK1eZWqNr0uUFArXaY3pyK8DSuFyCD4GE9B2qTRiA9L/5hpmj9VLTAiAMcpIEUQ2J/tZtkQhLok=" />
    </Dash>
    <Phoenix>
      <add key="Username" value="sprater" />
      <add key="ClearTextPassword" value="vs&amp;8=7c&amp;HDd&amp;cBVT" />
    </Phoenix>
  </packageSourceCredentials>
</configuration>
